manifest {
    author = 'Ashwani Kumar'
    name = 'fastqc'
    description = 'A very simple fastqc pipeline'
    nextflowVersion = '24.04.4.5917'
    //help : https://bioinformaticsworkbook.org/dataAnalysis/nextflow/02_creatingAworkflow.html#gsc.tab=0
}

// Default parameters

params{
    //workflow flags:

    //Mandatory arguments
    projectDir = "$baseDir" /// Primary input (samplesheet in CSV format with ID and file path, one sample per line)
    reads = "${projectDir}/data/samplesheet.csv"
    thread = 2
    memory = '2 GB'
    title = "NEXT FLOW FAST-QC REPORT"
    log = ""
// Optional argument for fastqc
}


// Load base.config 

includeConfig 'conf/base.config'
includeConfig 'conf/modules.config'
includeConfig 'conf/validation.config'

def userId = "whoami".execute().text.trim()

def trace_timestamp = new java.util.Date().format('yyyy_MM_dd_HH_mm')

profiles {

    log {
        params.log = "nextflow log > $baseDir/data/nf_report/log.txt"}
    
        
    conda {
        process.conda = "$basetDir/ENV.fastqc.yml"
    }
    
    docker {
        process.container = ''
        docker.enabled = true
        docker.runOptions = '--platform linux/amd64'
    }
    
    test{
        params.reads = "$baseDir/data/"
    }

}

plugins {
    id 'nf-schema@2.0.0'
}

process.shell = ['/bin/bash', '-euo', 'pipefail']

timeline {
    enabled = true
    file = "$baseDir/nf_report/${trace_timestamp}/nf_timeline.html"
    overwrite = true
}

report {
    enabled = true
    file = "$baseDir/nf_report/${trace_timestamp}/nf_report.html"
    overwrite = true
}

dag {
    enabled = true
    file = "$baseDir/nf_report/${trace_timestamp}/nf_flowchart.png"
    overwrite = true
}
