

process {
        
        executor = 'slurm'
        queue = 'CLUSTER'
        time = '1d'
        

        withLabel: 'process_low1' {
                cpus = 1
                memory = '7 GB'
        }
        withLabel: 'process_low2' {
                cpus = 2
                memory = '15 GB'
        }
        withLabel: 'process_medium' {
                cpus = 4
                memory = '30 GB'
        }
        withLabel: 'process_medium2' {
                cpus = 8
                memory = '61 GB'
        }
        withLabel: 'process_high1' {
                cpus = 16
                memory = '124 GB'
        }
        withLabel: 'process_high2' {
                cpus = 32
                memory = '250 GB'
        }
        withLabel: 'slurm_rsync_seq_d' {
                cpus = 1
                memory = '30 GB'
                clusterOptions = '-L rsync_lic:1'
        }
}
